<button class="carousel__button carousel__button--left is-hidden">
  <img src="/icons/arrowhead-left.png" alt="">
</button>
<div class="carousel__track-container">
  <ul class="carousel__track">
    <% carouselImgPaths.forEach((carouselImgPath, index) => { %>
        <li class="carousel__slide <% if(index === 0) { %>current-slide<% } %>">
          <img class="carousel__image" src="<%= carouselImgPath %>" alt="">
        </li>
    <% }) %>
  </ul>
</div>
<button class="carousel__button carousel__button--right">
  <img src="/icons/arrowhead-right.png" alt="">
</button>

<div class="carousel__nav">
  <% for (let i = 0; i < carouselImgCount; i++) { %>
    <button class="carousel__indicator <% if(i === 0) { %>current-slide<% } %>"></button>
  <% } %> 
</div>