<ul class="dropdown">
  <% items.forEach(item => { %>
    <% if (item.name) { %>
      <li>
        <a href="<%= (item.type === 'manufacturer') ? '/products?manufacturer=' + item.name : '/solutions?name=' + item.name %>">
          <%= item.name %>
        </a>
      </li>
    <% } else { %>
      <li><a href="/products?category=<%= item %>"><%= item %></a></li>
    <% } %>
  <% }) %>
</ul>