<ul class="dropdown">
  <% items.forEach(item => { %>
    <% if (item.name) { %>
      <li><a href="/products?manufacturer=<%= item.name %>"><%= item.name %></a></li>
    <% } else { %>
      <li><a href="/products?category=<%= item %>"><%= item %></a></li>
    <% } %>
  <% }) %>
</ul>