<div class="footer">
  <div class="footer__logo-container">
    <img src="/icons/logo-yellow.png">
  </div>
  <div class="footer__link-container">
    <span>this is the space for links</span>
    <div class="footer__contact">
      <div><%= t("contact") %></div>
      <ul class="footer__contact-links">
        <li>
          <img src="/icons/footer/telephone-icon.png">
          <span>
            86-755-23977951<br>
            18927418952
          </span>
        </li>
        <li>
          <img src="/icons/footer/fax-icon.png">
          <span>
            86-755-23977931
          </span>
        </li>
        <li>
          <img src="/icons/footer/email-icon.png">
          <span>
            mag_yan@colorfulsemi.com
          </span>
        </li>
        <li>
          <img src="/icons/footer/address-icon.png">
          <span>
            <%= t("addressLine1") %><br>
            <%= t("addressLine2") %><br>
            <%= t("addressLine3") %>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>