<nav>
  <a href="/">Colorful</a>
  <ul>
    <li><a href="/manufacturers">Manufacturers</a></li>
    <li><a href="/manufacturers/new">Add Manufacturers</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/new">Add Products</a></li>
  </ul>
</nav>

<div class="footer">
  <div class="footer__logo-container">
    <img src="/icons/logo-yellow.png" height="120">
  </div>
  <div class="footer__link-container">
    <span>this is the space for links</span>
  </div>
</div>