<nav>
  <a href="/">Colorful</a>
  <ul>
    <li><a href="/manufacturers">Manufacturers</a></li>
    <li><a href="/manufacturers/new">Add Manufacturers</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/new">Add Products</a></li>
    <li><a href="/solutions">Solutions</a></li>
    <li><a href="/solutions/new">Add Solutions</a></li>
  </ul>
</nav>

<div class="footer">
  <div class="footer__logo-container">
    <img src="/icons/logo-yellow.png" height="120">
  </div>
  <div class="footer__link-container">
    <span>this is the space for links</span>
    <div class="footer__contact">
      <div>Contact</div>
      <ul class="footer__contact-links">
        <li>
          <img src="/icons/footer/telephone-icon.png">
          <span>
            86-755-23977951<br>
            18927418952
          </span>
        </li>
        <li>
          <img src="/icons/footer/fax-icon.png">
          <span>
            86-755-23977931
          </span>
        </li>
        <li>
          <img src="/icons/footer/email-icon.png">
          <span>
            mag_yan@colorfulsemi.com
          </span>
        </li>
        <li>
          <img src="/icons/footer/address-icon.png">
          <span>
            Room1004-1005, GuoWei Building, No.68 GuoWei Road<br>
            LianTang,LuoHu District<br>
            ShenZhen
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>