<header>
  <nav>
    <a href="/">Colorful</a>
    <ul>
      <li><a href="/manufacturers">Manufacturers</a></li>
      <li><a href="/manufacturers/new">Add Manufacturers</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/new">Add Products</a></li>
    </ul>
  </nav>
</header>