<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colorful Website</title>

  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>

  <link href="/stylesheets/main.css" rel="stylesheet">

</head>
<body>
  <%- include('../partials/header')  %>
  <%- include('../partials/errorMessage') %>
  <%- body  %>
  <%- include('../partials/footer') %>

  <script src="/javascripts/addRemoveRow.js"></script>
  <script src="/javascripts/searchContentListener.js"></script>
  <script src="/javascripts/carousel.js"></script>
  <script src="/javascripts/dropdown.js"></script>
 
</body>
</html>