<!-- Carousel Part -->
<div class="carousel">
  <%- include('./partials/carousel') %>
</div>

<h2>Recently Added</h2>

<div class="slider slider--recent-product">
  <%- include('./partials/slider--recent-product') %>
</div>

<div>
  <% productsRecent.forEach(product => { %>
    <div><%= product.partNumber %></div>
  <% }) %>
</div>

<h2>Manufacturers</h2>
<div>
  <% manufacturers.forEach(manufacturer => { %>
    <div><%= manufacturer.name%></div>
  <% }) %>
</div>

<!-- just for documentation -->
  <!-- <button class="carousel__button carousel__button--left is-hidden">
    <img src="/icons/arrowhead-left.png" alt="">
  </button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img class="carousel__image" src="/uploads/img-placeholder.png" alt="">
      </li>
      <li class="carousel__slide">
        <img class="carousel__image" src="/uploads/img-placeholder.png" alt="">
      </li>
      <li class="carousel__slide">
        <img class="carousel__image" src="/uploads/img-placeholder.png" alt="">
      </li>
    </ul>
  </div>  
  <button class="carousel__button carousel__button--right">
    <img src="/icons/arrowhead-right.png" alt="">
  </button>

  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div> -->