<h2>Hi <%= name %> </h2>
<form action="/user/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<% if(role === "admin") { %>
  <a href="/user/register">Add User</a>
<% } %>

<nav>
  <a href="/">Colorful</a>
  <ul>
    <li><a href="/manufacturers">Manufacturers</a></li>
    <li><a href="/manufacturers/new">Add Manufacturers</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/new">Add Products</a></li>
    <li><a href="/solutions">Solutions</a></li>
    <li><a href="/solutions/new">Add Solutions</a></li>
  </ul>
</nav>