@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/animations.css';
@import 'shared/carousel.css';
@import 'shared/_main_carousel.css';
@import 'shared/_recentProducts_carousel.css';
@import 'shared/all-product.css';
@import 'shared/contact-widget.css';
@import 'shared/footer.css';
@import 'shared/index-other.css';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap'); 

body {
  font-family: 'Nunito Sans', sans-serif; 
  margin: 0;
  
}

.index-page-container {
  padding-top: 5%
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

.content-wrap {
  flex: 1;
}
