<div>
  <label><%= t("name") %></label>
  <input type="text" name="name" value = "<%= manufacturer.name %>" required>
</div>

<div>
  <label><%= t("image") %></label>
  <input type="file" name="logo" class="filepond"/>
</div>