.carousel {
  position: relative;
  height: 400px;
  width: 70%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  /* background: var(--color-theme-green); */
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: trasnlateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 24px;
}

.carousel__nav {
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator{
  border:0;
  border-radius: 2px;
  width: 18px;
  height: 8px;
  background: lightgray;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: var(--color-theme-green);
}

.is-hidden { display: none }
