<% if (name) { %>
  <h2><%= name %></h2>
<% } else { %>
  <h2><%= t("all") + t("solutions") %></h2>
  <% solutions.forEach(solution => { %>
    <div><%= solution.name[lang] %></div>
  <% }) %>
<% } %>
