<div class="contact-widget-container">
  <ul class="contact-widget-col">
    <li class="contact-widget__shown-icon">
         <img src="/icons/contact-us-yellow.png" width = "36">
    </li>
    <li class="contact-widget__hidden-icon">
      <div class="contact-widget__icon-container">
       <img src="/icons/wechat-icon-yellow.png" width="36"> 
      </div>
    </li>
    <li class="contact-widget__hidden-icon">
      <div class="contact-widget__icon-container">
       <img src="/icons/qq-icon-yellow.png" width="36"> 
      </div>
    </li>
    <li class="contact-widget__hidden-icon">
      <div class="contact-widget__icon-container">
       <img src="/icons/email-icon-yellow.png" width="36"> 
      </div>
    </li>
  </ul>
</div>